html{
	background-image: url(assets/bgimg.jpg);	
}
#header{
	text-align: center;
}
#maindiv{
	display: inline-block;
	width: 400px;
	margin: 0 auto;
}
.text{
	font-family: 'Courgette', cursive;
	color: white;
	text-align: center;
}
#input1{
	display: block;
	margin: 0 auto;
	text-align: center;
}
#input2{
	display: block;
	margin: 0 auto;
	text-align: center;
}
#maindiv button{
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}